 .c{
    width:100%;
   
  }
  .table{
    width:100%;
  }
  table {
    box-sizing: border-box;
    box-shadow: #00ABB3;
    border: 1px solid;
    bottom: 10%;
    width: 99%;
    height: 5px;
    margin-top: 1px;
    color: rgb(0, 0, 0);
    font-weight: 5px;
    background-color: lightblue;

  }
  .th1 {
    border: 1px solid rgb(105, 28, 28);
    width:10%;
    text-align: center;
    
   
  }
  .th2 {
    border:1px solid rgb(24, 149, 191);
    width:10%;
    text-align: center;
    font-style: oblique;
    
  }
  .th3 {
    border:1px solid rgb(30, 43, 213);
    width:20%;
    border-radius: 5px;
    text-align: center;
  
  }
  .th4 {
    border:1px solid rgb(56, 22, 206);
    text-align: center;
    
  }
  .th5 {
    border:1px solid rgb(133, 57, 255);
    text-align: center;
   
  }
  /* .button{

  }   */

  .button:hover{
    background-color: #f8f8f8;
    color: #00f3d3;
    background-position: right center;
    font: italic;
  }
  .dashboard{
    height: 90%;
  }

  .header{
    text-decoration: none;
    background-color: white;
    height:65px;
    top: 10px;
    bottom: 15px;
    /* transform-origin: top; */
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }
   
  .nav-link{
    border: blueviolet;
    font-style: oblique;
    margin-left: 45px;
    left: 95px;
    top: 50px;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    /* position: sticky; */
    
  }

  .apply{
    text-align: center;
  }
  .but{
   
    width: 103px;
    height: 26px;
    padding-bottom: 33px;
    border: 0px solid;
    border-radius: 8px;
    background-color: blue;
    position: absolute;
    left:46%;
    top:30%;

  }
  .but:hover{
    color:white;
    background-color: green;
  }
  
  .board{
    width:98%;
    text-align: center;
    height: 550px;
    border-top: 33px solid blue;
    border-right: 1px solid black;
    border-bottom: 33px solid blue;
    border-left: 1px solid black;
    border-radius: 13px;
    margin: 13px;
    padding-left: 20px;
    margin: 13px;   
  }
  .has{
    padding-left: 10px;
    font-family:'Times New Roman', Times, serif;
    font-style: calc(Times);
  }
  .pre{
    font-family: 'Times New Roman', Times, serif;
    font-style: calc(Times);
    color: #2146C7;
    font-weight: 700;
    padding-left: 10px;
    height: 500px;
    width:98%;
  }
  .st{
    width:96%;
    height: 493px;
    border-top: 33px solid blue;
    border-right: 1px solid black;
    border-bottom: 33px solid blue;
    border-left: 1px solid black;
    border-radius: 13px;
    margin: 13px;
    padding-left: 30px;
  }

  .tablein{
    width:98.05%;
    height: 493px;
    border-top: 33px solid blue;
    border-right: 1px solid black;
    border-bottom: 33px solid blue;
    border-left: 1px solid black;
    border-radius: 13px;
    margin: 13px;
  }

  .tableapply{
    width:98.05%;
    height: 493px;
    border-top: 33px solid blue;
    border-right: 1px solid black;
    border-bottom: 33px solid blue;
    border-left: 1px solid black;
    border-radius: 13px;
    margin: 13px;
  }
  .tablealer{
    width:98.05%;
    height: 493px;
    border-top: 33px solid blue;
    border-right: 1px solid black;
    border-bottom: 33px solid blue;
    border-left: 1px solid black;
    border-radius: 13px;
    margin: 13px;
  }
  .tablesms{
    width:98.05%;
    height: 493px;
    border-top: 33px solid blue;
    border-right: 1px solid black;
    border-bottom: 33px solid blue;
    border-left: 1px solid black;
    border-radius: 13px;
    margin: 13px;
  }
  .office{
    color:black;
    font-size: 18px;
    font-weight: bold;
  }
  .status{
    text-align: center;
    color:rgb(4, 4, 5);
  }
  .tab{
    width: 98%;
    height: 51px;
  }
  .t1{
    width:10%;
    border: 1px solid blue;
    text-align: center;
  }
  .t2{
    width:15%;
    border: 1px solid blue;
    text-align: center;
  }
  .t3{
    width:30%;
    border: 1px solid blue;
    text-align: center;
  }
  .t4{
    color: red;
    width:35%;
    border: 1px solid blue;
    text-align: center;
  }
  .dnme{
    left: 500px;
  }
  @import 'bootstrap/dist/css/bootstrap.min.css';